.background1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 720px;
}
.background1 > div{
    width: 1190px;
    height: 578px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.back{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.back > div{
    background-image: url('./collection-assets/Rectangle.png');
    width: 488px;
    height: 578px;
}
.background1 h1{
    font-size: 84px;
}
.top-absolut{
    position: absolute;
}
.top-absolut p{
    font-size: 17px;
}
.top-absolut > div{
    display: flex;
    justify-content: space-between;
    width: 240px;
}